/* .container-fluid{
  height: 600px;
  background-color: rgb(140, 30, 214);
} */
.btn {
  justify-content: center !important;
}

.register_container {
  height: 600px;
  margin-top: 10px;
  background:url("https://images.unsplash.com/photo-1675752625310-45f622ddf63b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDI2fGJvOGpRS1RhRTBZfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
}

.login_container {
  height: 600px;
  margin-top: 20px;
  background: url(https://plus.unsplash.com/premium_photo-1671643642938-ea7b23ad4d8f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDIwMHw2c01WalRMU2tlUXx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60);
}

.navbar {
  position: static;
}

.img {
  width: 1100px;
  height: 700px;
}

.text {
  background-color: rgb(231, 25, 152);
  margin-bottom: -18px;
  font-family: 'Times New Roman', Times, serif;
}

.footer {
  background-color: rgb(231, 25, 152);
  font-family: 'Times New Roman', Times, serif;
}

.para {
  float: right;
  margin-left: 500px;
}

.fa {
  margin-right: 20px;
  font-size: 30px;
}

.cursor_pointer:hover {
  cursor: pointer;
  color: blue;
}

.sidebar {
  height: 800px;

}

.sidebar_img {
  height: 80px;
  width: 80px;
  margin-left: 35px;
}
.table_body{
background-color: rgba(240, 209, 33, 0.906);
border: 2px solid black;
}
